= render partial: 'layouts/home/navigation'
= render partial: 'layouts/home/header'

.section
  .container
    .columns
      .column.is-4
        .card
          .card-content
            .has-text-centered
              %img.margin-b-1.rounded{:alt => "service icon", :height => 150, :width => 150, :src => "/assets/tutor-image.jpeg"}/
              %h2.is-size-5.has-text-weight-bold Jenna Smith
              %p.is-size-6.has-text-weight-light.has-text-grey-light Artist
              %span.icon
                %i.fas.fa-home
            %div
              %a.has-text-primary Facebook
              %br
              %a.has-text-primary Instagram
              %p.margin-t-1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor vulputate nibh, eu tempor magna hendrerit quis. Pellentesque eget lorem nulla. Sed commodo ante sed est accumsan eleifend. Aenean eget bibendum dui. Morbi viverra dictum enim sit amet ultrices. Sed risus sem, rhoncus id gravida at, accumsan non quam. Aenean facilisis libero tortor, eget ultricies erat vehicula at.
      .column.is-8
        %h2.is-size-4.has-text-weight-bold.subtitle Cursos
        %p.margin-b-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor vulputate nibh, eu tempor magna hendrerit quis. Pellentesque eget lorem nulla
        .columns
          .column.is-4
            .card
              .card-content.course-card.has-text-centered
                %img.margin-b-1{:alt => "service icon", :src => "/assets/first-course.png"}/
                %p.is-size-6.has-text-weight-bold
                  SELF MakeUp
          .column.is-4
            .card
              .card-content.course-card.has-text-centered
                %img.margin-b-1{:alt => "service icon", :src => "/assets/first-course.png"}/
                %p.is-size-6.has-text-weight-bold
                  SELF MakeUp
          .column.is-4
            .card
              .card-content.course-card.has-text-centered
                %img.margin-b-1{:alt => "service icon", :src => "/assets/first-course.png"}/
                %p.is-size-6.has-text-weight-bold
                  SELF MakeUp
        .columns
          .column.is-4
            .card
              .card-content.course-card.has-text-centered
                %img.margin-b-1{:alt => "service icon", :src => "/assets/first-course.png"}/
                %p.is-size-6.has-text-weight-bold
                  SELF MakeUp
          .column.is-4
            .card
              .card-content.course-card.has-text-centered
                %img.margin-b-1{:alt => "service icon", :src => "/assets/first-course.png"}/
                %p.is-size-6.has-text-weight-bold
                  SELF MakeUp
          .column.is-4
            .card
              .card-content.course-card.has-text-centered
                %img.margin-b-1{:alt => "service icon", :src => "/assets/first-course.png"}/
                %p.is-size-6.has-text-weight-bold
                  SELF MakeUp