%header.hero.is-medium
  .hero-body
    .container.main-container
      .columns
        .column.is-three-fifths
          %p.color-text
            Lorem ipsun dolor
          %h1.title.is-size-1.has-text-weight-bold.is-size-1
            Now Chating is Simple and More Fun With Lunatic.
          %p
            Phosfluorescently re-engineer open-source manufactured products vis-a-vis an expanded array of potentialities.
      .columns
        .column.is-one-half
          %button.button.is-dark Call to action 1
          %button.button.is-primary Call to action 2
