%nav.navbar.mainmenu-area.section-padding{"data-offset-top" => "200", "data-spy" => "affix"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#mainmenu", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"}
        %img{:alt => "", :src => "/assets/logo.png"}/
    #mainmenu.collapse.navbar-collapse
      .navbar-header.navbar-right
        %a.navbar-bttn{:href => "#"} Try for free
      %ul.nav.navbar-nav.navbar-left
        %li.active
          %a{:href => "#home-page"} Home
        %li
          %a{:href => "#about-page"} About
        %li
          %a{:href => "#feature-page"} Features
        %li
          %a{:href => "#gallery-page"} Gallery
        %li
          %a{:href => "#price-page"} Pricing
        %li
          %a{:href => "#team-page"} Team
        %li
          %a{:href => "#blog-page"} Blog
        %li
          %a{:href => "#contact-page"} Contact
