= render partial: 'layouts/home/navigation'
= render partial: 'layouts/home/header'

.section
  .container
    .columns
      .column.is-8
        .margin-b-3
          %h2.is-size-4.has-text-weight-bold Self MakeUp
          %p.is-size-6.has-text-weight-light.has-text-grey-light MakeUp
          %p.is-size-6.has-text-weight-light Junio 25, 2020 - 8:00 a.m.
        %div
          %p.margin-t-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor vulputate nibh, eu tempor magna hendrerit quis. Pellentesque eget lorem nulla. Sed commodo ante sed est accumsan eleifend. Aenean eget bibendum dui. Morbi viverra dictum enim sit amet ultrices. Sed risus sem, rhoncus id gravida at, accumsan non quam. Aenean facilisis libero tortor, eget ultricies erat vehicula at.
        .columns.margin-t-5
          .column
            %h2.subtitle.is-size-6.has-text-primary Comentarios (3)
            .item-comment
              .comment-avatar
                %img.rounded{:alt => "Comment picture", :height => 70, :width => 70, :src => "/assets/tutor-image.jpeg"}/
              .comment-info
                %h2.has-text-weight-bold.is-size-6 Nikollai Hernandez
                %p.has-text-grey-light The information is stunningly laid out and the instructors are clear and very interactive.
            .item-comment
              .comment-avatar
                %img.rounded{:alt => "Comment picture", :height => 70, :width => 70, :src => "/assets/tutor-image.jpeg"}/
              .comment-info
                %h2.has-text-weight-bold.is-size-6 Nikollai Hernandez
                %p.has-text-grey-light The information is stunningly laid out and the instructors are clear and very interactive.
            .item-comment
              .comment-avatar
                %img.rounded{:alt => "Comment picture", :height => 70, :width => 70, :src => "/assets/tutor-image.jpeg"}/
              .comment-info
                %h2.has-text-weight-bold.is-size-6 Nikollai Hernandez
                %p.has-text-grey-light The information is stunningly laid out and the instructors are clear and very interactive.
      .column.is-4
        .card
          .card-content
            .has-text-centered
              %img.margin-b-1.rounded{:alt => "service icon", :height => 150, :width => 150, :src => "/assets/tutor-image.jpeg"}/
              %h2.is-size-5.has-text-weight-bold Jenna Smith
              %p.is-size-6.has-text-weight-light.has-text-grey-light Artist
              %span.icon
                %i.fas.fa-home
            %div
              %a.has-text-primary Facebook
              %br
              %a.has-text-primary Instagram
              %p.margin-t-1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor vulputate nibh, eu tempor magna hendrerit quis. Pellentesque eget lorem nulla. Sed commodo ante sed est accumsan eleifend. Aenean eget bibendum dui. Morbi viverra dictum enim sit amet ultrices. Sed risus sem, rhoncus id gravida at, accumsan non quam. Aenean facilisis libero tortor, eget ultricies erat vehicula at.