.width-50 {
	width: 50%;
}

.center {
	margin: auto;
}

.pull-right {
	float: right;
}

section h1 {
	color: green !important;
}

section h2 {
	color: red !important;
}

section {
	h1 {

	}

	h2 {

	}
}